.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container>div:nth-child(1) {
  background-color: #1061e4;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Vector */


.container>div:nth-child(2):hover {
  background-color: #e89212;
}

.container>div:nth-child(2) {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F5AB35;
  cursor: pointer;
}

.container>div:nth-child(1):hover {
  background-color: #0a56d1;
}

.container>div:nth-child(1)>h1 {
  color: white;
}

.new-session {
  background-image: url(/assets/plus.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
}

.joinsession {
  background-image: url(/assets/join.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
}