.cont-speak {
    background-color: #245BB3;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont-speak-s {
    background-color: #245BB3;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont-speak > div {
    background-color: transparent;
    width: 270px;
    height: 270px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.cont-speak-s > div {
    background-color: #BE7E18;
    width: 270px;
    height: 270px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.cont-speak > div > div {
    background-color: #245BB3;
    width: 255px;
    height: 255px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-speak-s > div > div {
    background-color: #245BB3;
    width: 255px;
    height: 255px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-speak > div > div > div {
    background-color: #F5AB35;
    width: 240px;
    height: 240px;
    border-radius: 100%;
}

.cont-speak-s > div > div > div {
    background-color: #F5AB35;
    width: 240px;
    height: 240px;
    border-radius: 100%;
}

.terminar {
    background-color: #c3c2c2;
    height: 60px;
    width: 200px;
    margin-bottom: 0px;
    font-size: 20px;
    border-radius: 20px;
    border: 0px;
    cursor: pointer;
}